BasedOnStyle: Google 
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AllowAllConstructorInitializersOnNextLine: true
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
FixNamespaceComments: false
IndentAccessModifiers: true
IndentWidth: 2
NamespaceIndentation: All
PenaltyBreakBeforeFirstCallParameter: 1
TabWidth: 2
UseTab: Never